<a href="https://colab.research.google.com/github/1thallo/Oracle_Next_Education-Fase2/blob/main/Forma%C3%A7%C3%A3o%20-%20Modelagem%20de%20Dados%20com%20Python/Python%20para%20Data%20Science/Fun%C3%A7%C3%B5es%2C%20Estruturas%20de%20Dados%20e%20Exce%C3%A7%C3%B5es/3.%20Estruturas%20de%20dados/3_Hora_da_pr%C3%A1tica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sobre o notebook

A "hora da pr√°tica" √© uma atividade do curso de Python para Data Science da Alura que cont√©m diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da pr√°tica" √© um notebook constru√≠do com espa√ßo para as c√©lulas dos desafios propostos no curso, com ele voc√™ tem espa√ßo para construir e executar suas solu√ß√µes

## Aula 3 - Estrutura de dados compostas

### Aquecimento

#### Quest√£o 1

Crie um c√≥digo para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
```
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

lista1, lista2, lista3 = sum(lista_de_listas[0]), sum(lista_de_listas[1]), sum(lista_de_listas[2])

print(f"""    LISTAS   |  SOMAS
------------------------
{lista_de_listas[0]} |   {lista1}\n{lista_de_listas[1]} |   {lista2}\n{lista_de_listas[2]} |   {lista3}""")

    LISTAS   |  SOMAS
------------------------
[4, 6, 5, 9] |   24
[1, 0, 7, 2] |   10
[3, 4, 1, 8] |   16

#### Quest√£o 2

Crie um c√≥digo para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:
```
lista_de_tuplas = [('Pedro', 1.74, 81), ('J√∫lia', 1.65, 67), ('Ot√°vio', 1.81, 83)]
```

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('J√∫lia', 1.65, 67), ('Ot√°vio', 1.81, 83)]
lista_elemento_3 = [elemento[2] for elemento in lista_de_tuplas]

print(f"Lista de elementos: {lista_elemento_3}")

Lista de elementos: [81, 67, 83]

#### Quest√£o 3
A partir da lista: `lista = ['Pedro', 'J√∫lia', 'Ot√°vio', 'Eduardo']`, crie um c√≥digo para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posi√ß√£o do nome na lista original e o segundo elemento sendo o pr√≥prio nome.

In [ ]:
lista = ['Pedro', 'J√∫lia', 'Ot√°vio', 'Eduardo']

lista_nova = list(enumerate(lista, 1)) # enumerate() do DataCamp python, lembrei‚òùÔ∏èü•∏
print(f"Lista com posi√ß√µes: {lista_nova}")

Lista com posi√ß√µes: [(1, 'Pedro'), (2, 'J√∫lia'), (3, 'Ot√°vio'), (4, 'Eduardo')]

#### Quest√£o 4
Crie uma lista usando o list comprehension, que armazena somente o valor num√©rico de cada tupla caso o primeiro elemento seja 'Apartamento' a partir da seguinte lista de tuplas:
```
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

lista_apartamento = [ap[1] for ap in aluguel if ap[0] == 'Apartamento']
lista_casa = [casa[1] for casa in aluguel if casa[0] == 'Casa']

print(f""" -------- Valores do aluguel --------

Apartamentos: {lista_apartamento}
Casas: {lista_casa}
""")

 -------- Valores do aluguel --------

Apartamentos: [1700, 1400, 1900]
Casas: [2150, 1100]

#### Quest√£o 5

Crie um dicion√°rio usando o dict comprehension em que as chaves est√£o na lista `meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']` e os valores est√£o na lista `despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]`

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesas = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dict_mes_dispesa = {mes: despesa for mes, despesa in list(zip(meses, despesas))}

print(f""" -------- Despesas do ano --------
{dict_mes_dispesa}
""")

 -------- Despesas do ano --------
{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

### Aplicando a projetos

#### Quest√£o 6

Uma loja possui um banco de dados com a informa√ß√£o de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que voc√™ ajude a realizar a filtragem dos dados a partir de um c√≥digo:
```
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141),
          ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471),
          ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

# Filtra somente vendas de 2022 com valor > 6000
filtro = [venda for venda in vendas if venda[0] == '2022' and venda[1] > 6000]

# Ordena pelo indice 1
filtro_ordenado = sorted(filtro, key=lambda x: x[1])

# Impress√£o formatada
print(f"""-------- Vendas Filtradas --------

ANO  | VALOR
-------------""")
for ano, valor in filtro_ordenado:
    print(f"{ano} | {valor}")

-------- Vendas Filtradas --------

ANO  | VALOR
-------------
2022 | 7688
2022 | 8190
2022 | 8883
2022 | 9544

#### Quest√£o 7

Uma cl√≠nica analisa dados de pacientes e armazena o valor num√©rico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'

A cl√≠nica disponibilizou parte dos valores e sua tarefa √© criar uma lista de tuplas usando list comprehension contendo o r√≥tulo e o valor da glicemia em cada tupla.

```
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92,
            66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

rotulo_valor = [('Hipoglicemia' if valor <= 70 else 'Normal' if valor < 99 else 'Alterada' if valor < 125 else 'Diabetes', valor) for valor in glicemia]

for rotulo, valor in rotulo_valor:
    print(f"{valor} -> {rotulo}")

129 -> Diabetes
82 -> Normal
60 -> Hipoglicemia
97 -> Normal
101 -> Alterada
65 -> Hipoglicemia
62 -> Hipoglicemia
167 -> Diabetes
87 -> Normal
53 -> Hipoglicemia
58 -> Hipoglicemia
92 -> Normal
66 -> Hipoglicemia
120 -> Alterada
109 -> Alterada
62 -> Hipoglicemia
86 -> Normal
96 -> Normal
103 -> Alterada
88 -> Normal
155 -> Diabetes
52 -> Hipoglicemia
89 -> Normal
73 -> Normal

#### Quest√£o 8
Um e-commerce possui as informa√ß√µes de id de venda, quantidade vendida e pre√ßo do produto divididos nas seguintes listas:

```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que √© obtida multiplicando a quantidade pelo pre√ßo unit√°rio. Al√©m disso, tabela precisa conter um cabe√ßalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha um id, quantidade, pre√ßo e valor total, na qual a primeira tupla √© o cabe√ßalho da tabela.

In [20]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
total = [qtd * preco for qtd, preco in zip(quantidade, preco)]

total_vendas = [('id', 'quantidade', 'preco', 'total')] + [
                (id[i], quantidade[i], preco[i], total[i]) for i in range(len(id))]

print(f"-------- Tabela de Vendas --------")
for linha in total_vendas:
  # verifica se √© cabecalho
  if linha[0] == 'id':
    print(f"{linha[0]} |  {linha[1]}  |  {linha[2]}  | {linha[3]}\n")
  else:
    # se n√£o for, formata o valor total com .2f
    print(f"{linha[0]}  |  {linha[1]}  |  {linha[2]}  | {linha[3]:.2f}")

-------- Tabela de Vendas --------
id |  quantidade  |  preco  | total

0  |  15  |  93.0  | 1395.00
1  |  12  |  102.0  | 1224.00
2  |  1  |  18.0  | 18.00
3  |  15  |  41.0  | 615.00
4  |  2  |  122.0  | 244.00
5  |  11  |  14.0  | 154.00
6  |  2  |  71.0  | 142.00
7  |  12  |  48.0  | 576.00
8  |  2  |  14.0  | 28.00
9  |  4  |  144.0  | 576.00

#### Quest√£o 9

Uma empresa possui filiais espalhadas nos estados da regi√£o sudeste do Brasil. Em uma das tabelas de cadastro das filiais, h√° uma coluna contendo a informa√ß√£o de qual √© o estado a que pertence:
```
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
```

A empresa sempre est√° abrindo novas filiais, de modo que a tabela est√° constantemente recebendo novos registros e o gestor gostaria de possuir a informa√ß√£o atualizada da quantidade de filiais em cada estado. A partir da coluna com a informa√ß√£o dos estados, crie um dicion√°rio usando dict comprehension com a chave sendo o nome de um estado e o valor sendo a contagem de vezes em que o estado aparece na lista.

> Dica: Voc√™ pode fazer um passo intermedi√°rio para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um estado com valores repetidos.

In [42]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

dicionario = {estado: estados.count(estado) for estado in set(estados)}

print(f""" -------- Filiais --------
Estados | Quantidade
--------------------------""")
for estado, qtd in dicionario.items():
  print(f"   {estado}   |  {qtd}")

 -------- Filiais --------
Estados | Quantidade
--------------------------
   RJ   |  2
   MG   |  7
   ES   |  6
   SP   |  8

#### Quest√£o 10

Nessa mesma tabela de cadastro de filiais, h√° uma coluna com as informa√ß√µes da quantidade de funcion√°rios e o gestor gostaria de ter um agrupamento da soma de funcion√°rios para cada estado. As informa√ß√µes contidas na tabela s√£o:

```
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```

A partir da lista de tuplas, crie um dicion√°rio em que as chaves s√£o os nomes dos estados √∫nicos e os valores s√£o as listas com o n√∫mero de funcion√°rios referentes ao estado. Crie tamb√©m um dicion√°rio em que as chaves s√£o os nomes dos estados e os valores s√£o a soma de funcion√°rios(as) por estado.

> Dica: Voc√™ pode fazer um passo intermedi√°rio para gerar uma lista de listas em que cada uma das listas possui apenas os valores num√©ricos de funcion√°rios de cada estado.

In [68]:
funcionarios = [
    ('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4),
    ('ES', 9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG', 8),
    ('ES', 8), ('SP', 9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12),
    ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

agrupamento_por_estado = {}

for estado, qtd in funcionarios:
    if estado not in agrupamento_por_estado:
        agrupamento_por_estado[estado] = []
    agrupamento_por_estado[estado].append(qtd)

soma_por_estado = {estado: sum(valores) for estado, valores in agrupamento_por_estado.items()}


print("-------- Agrupamento por estado --------")
for estado, valores in agrupamento_por_estado.items():
  print(f"Estado: {estado} --> {valores}")

print("\n-------- Funcion√°rios por estado --------")
for estado, valor in soma_por_estado.items():
  print(f"{estado} tem {valor} funcion√°rios")

-------- Agrupamento por estado --------
Estado: SP --> [16, 10, 7, 11, 9, 12, 7, 10]
Estado: ES --> [8, 9, 7, 12, 8, 14]
Estado: MG --> [9, 6, 4, 8, 5, 10, 12]
Estado: RJ --> [13, 9]

-------- Funcion√°rios por estado --------
SP tem 82 funcion√°rios
ES tem 58 funcion√°rios
MG tem 54 funcion√°rios
RJ tem 22 funcion√°rios